[Unit]
Description=Rexster Server
After=etcd.service
Requires=docker.service
After=docker.service


[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStartPre= /usr/bin/etcdctl set /rexsterIP "$COREOS_PUBLIC_IPV4"
ExecStartPre= /usr/bin/docker pull 160.91.76.121:5000/titan-rexster
ExecStart= /bin/bash -c '/usr/bin/docker start %p || \
           /usr/bin/docker run -d --name %p -p 8182:8182 160.91.76.121:5000/titan-rexster bash start.sh'
ExecStop= /bin/bash -c '/usr/bin/docker stop -t 3 %p; \
           /usr/bin/docker rm %p '

[X-Fleet]
X-ConditionMachineID=446c4007417941e2a3fedbafb43bebfe
